.member:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.member {

    text-align:center;
    height: 30px;
    width:200px;
}

.member_holder {
   display: -webkit-flex;
   display: flex;
   width: 100%;
}

.line{
  position:absolute;
  width:2px;
  margin-top:-1px;
  background-color:red;
}  